# Virtual environment
venv/

# Python cache/bytecode
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Model weights (large files - not versioned in Git)
*.pt

# Media / video files (large files - not versioned in Git)
media/
resultado_wasser.mp4
